.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

textarea {
  resize: none;
  width: 100%;
}

h2 {
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

table {
  border: 1px solid black;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
td + td,
th + th {
  border-left: 1px solid;
}

tr:nth-child(odd) {
  background-color: rgb(177, 176, 176);
}

th {
  font-weight: initial;
  font-size: 0.8rem;
  background-color: rgb(128, 126, 126);
  line-height: 1em;
  text-align: left;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.85);
}


.modal-bg {
  background-color: white;
  padding: 1rem 2rem;
  width: 30%;
}


div.space-evenly > button {
  padding: 2rem 0;
  width: calc(100% / 10);
}

/* UTILITY CLASSES */

.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}
.column-full {
  flex-basis: 100%;
}

.center {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text-center {
  text-align: center;
}

.justify-right {
  justify-content: right;
}

.col-gap {
  column-gap: 10px;
}

.tb-margin {
  margin: 1rem auto;
}

.add-entry {
  padding: 0.5rem 1.5rem;
}

.add-entry:hover {
  background-color: rgb(111, 111, 255);
}

.space-evenly {
  justify-content: space-evenly;
}
