.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

textarea {
  resize: none;
  width: 100%;
}

h2 {
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text-center {
  text-align: center;
}

.justify-right {
  justify-content: right;
}

.col-gap {
  column-gap: 10px;
}

.tb-margin {
  margin: 1rem auto;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.85);
}

.column-full {
  flex-basis: 100%;
}

.modal-bg {
  background-color: white;
  padding: 1rem 2rem;
  width: 30%;
}

.add-entry {
  padding: 0.5rem 1.5rem;
}

.add-entry:hover {
  background-color: rgb(111, 111, 255);
}
